# Ignore environment variables
.env

# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*.egg-info/

# Ignore virtual environments
venv/
.env/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore VSCode settings (optional)
.vscode/
